name: First CI
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rid: ["win-x64", "linux-x64"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'
      - run: dotnet restore
      - run: dotnet publish -c Release -o app-${{ matrix.rid }} -r ${{ matrix.rid }} --self-contained true /p:PublishSingleFile=true /p:AssemblyName=app